RemoteSystemsTempFiles/

.classpath
.project
.idea/
assignments/.idea/
assignments/assignments.iml
assignments/out/


.metadata/
.recommenders/

assignments/.classpath
assignments/.gitignore
assignments/.project
assignments/.settings/org.eclipse.jdt.core.prefs

/bin/
